<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Personal website and blog of Radka Janek, Community Manager and .NET Core Quality Engineering Lead at Red Hat. Shredding the trails on her mountain bike and inspiring the desolate whitespace of Linux world with the delicate C# letters of simplified artificial intelligence.">

  <meta property="og:title" content="Personal website &amp; blog of Radka Janek (aka Rhea Ayase)">
  <meta property="og:description" content="A blog about experiences and life of .NET Core Engineer wearing her Red Hat, shredding the trails on her mountain bike and inspiring the desolate whitespace of Linux world with the delicate C# letters of simplified artificial intelligence.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://rhea-ayase.eu/img/avatar-smiley2-square-cut.png">

  <!-- CSS files -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />

  <!-- Icons -->
  <!-- 16x16 -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="/favicon.png">
</head>
